.cr-odoo-content ul.odoo-cloud li:nth-child(1)::before { content: "\f0c2"; } /* Cloud Setup - fa-cloud */
.cr-odoo-content ul.odoo-cloud li:nth-child(2)::before { content: "\f06e"; } /* 24/7 Monitoring - fa-eye */
.cr-odoo-content ul.odoo-cloud li:nth-child(3)::before { content: "\f187"; } /* Automated Backups - fa-archive */
.cr-odoo-content ul.odoo-cloud li:nth-child(4)::before { content: "\f023"; } /* Security - fa-lock */
.cr-odoo-content ul.odoo-cloud li:nth-child(5)::before { content: "\f0e4"; } /* Performance - fa-bolt */
.cr-odoo-content ul.odoo-cloud li:nth-child(6)::before { content: "\f065"; } /* Scalability - fa-expand */
.cr-odoo-content ul.odoo-cloud li:nth-child(7)::before { content: "\f233"; } /* Server Optimization - fa-server */
.cr-odoo-content ul.odoo-cloud li:nth-child(8)::before { content: "\f0ad"; } /* Disaster Recovery - fa-wrench */
.cr-odoo-content ul.odoo-cloud li:nth-child(9)::before { content: "\f155"; } /* Cost Optimization - fa-dollar-sign */
.cr-odoo-content ul.odoo-cloud li:nth-child(10)::before { content: "\f4ad"; } /* Expert Support - fa-user-headset */